*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mylogo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #333;
    font-size: 50px;
    color: #eeebeb;
}

.mylogo b{
    font-weight: 900;
    color:#4caf50
}

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #eeebeb;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #4caf50;
    color: #eeebeb;
  }

  .para{
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.info img{
    box-shadow: 2px 2px 5px black;
}

.contact{
    background-color: #333;
}